
footer { margin-top: 10px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
body, input, select, textarea, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  color: #42aaf4;
}
div {
      background-color: #ffb7b7;
    }